extends layout.pug

block content
  
  form(class="form-comment shadow p-3 mb-5 bg-white rounded" method='POST', action='/comment/add')
    h3 Feedback
    .form-group-name
      label Name:
      input.form-control(name='author', type='text')
    .form-group-email
      label Email: 
      input.form-control(name='email', type='text')
    .form-group-comment
      label What would you like me to know?
      textarea.form-control(name='body')
    
    br
    input.btn.btn-primary(type='submit', value='Submit')

    

