extends layout.pug

block content
  
  form(method='POST', action='/comment/add')
    .form-group
      label Author:
      input.form-control(name='author', type='text')
    .form-group
      label Body:
      textarea.form-control(name='body')
    br
    input.btn.btn-primary(type='submit', value='Submit')

    

