extends layout.pug

block content 

  h3 Book Our Shoot

  form#tableForm(action='/book/getJson' method='post')
    select.selectpicker(data-style='btn-info' name='genre')
      optgroup(label='Choose a genre')
        option(name='' value='0') ...
        option(name='Editorial' value='Editorial') Editorial
        option(name='Fashion' value='Fashion') Fashion
        option(name='Boudoir' value='Boudoir') Boudoir
        option(name='Bodypaint' value = 'Bodypaint') Body Paint

    select.selectpicker(data-style='btn-info' name='payment')
      optgroup(label='Choose a payment')
        option(name='' value='0') ...
        option(name='Hourly Rate' value='Hourly Rate') Hourly Rate
        option(name='TFP with Print Release' value='TFP with Print Release') TFP with Print Release
        option(name='TFP with Publication' value='TFP with Publication') TFP with Publication

    select.selectpicker(data-style='btn-info' name='location')
      optgroup(label='Choose a general location')
        option(name='' value='0') ...
        option(name='Greater St. Louis Area' value='Greater St. Louis Area') Greater St. Louis Area
        option(name='Illinois' value='Illinois') Illinois
        option(name='Other' value='Other') Other
    input(type='submit')