extends layout

block content
 
  form(method='POST', action='/comment/edit/'+comment._id)
    .form-group
      label Name:
      input.form-control(name='author', type='text', value=comment.author)
    .form-group
      label What do you want to say?
      textarea.form-control(name='body')= comment.body
    br
    input.btn.btn-primary(type='submit', value='Submit')