extends layout.pug

block content
  
  form(class = "form-signin shadow p-3 mb-5 bg-white rounded" method='POST', action='/users/login')
    h3 Login
    .form-group
      label Username:
      input.form-control(name='username', type='text')
    .form-group
      label Password:
      input.form-control(name='password', type='password')
    br
    input.btn.btn-primary(type='submit', value='Submit')