extends layout.pug

block content
  h1 #{Comment}
  form(method='POST', action='')
    .form-group
      label Author:
      input.form-control(name='author', type='text')
    .form-group
      label Comment:
      textarea.form-control(name='comment')
    br
    input.btn.btn-primary(type='submit', value='Submit')