.resume {
    max-width: 500px;
    text-align: right;
    padding: 15px;
    background: black;  
    float: right;
    margin-top: 75px;
    margin-bottom: 75px; 
    margin-right: 75px; 
    margin-left: 60px; 
    border: 5px solid white;
    border-radius: 25px; 
} 
.resumeList{
    text-align: left;
    background: lightgray; 
    padding: 15px;
}
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
  }

.form-signup {
   width: 100%;
   max-width: 420px;
   padding: 10px;
   margin: auto;
 }
 .form-group-name{
    width: 100%;
    max-width: 420px;
    padding: 15px;
    padding-left: 0px; 
}
.form-group-comment{
    width: 100%;
    max-width: 840px;
    padding: 15px;
    padding-left: 0px; 
    
}

.form-group-email{
    width: 100%;
    max-width: 840px;
    padding: 15px;
    padding-left: 0px;  
}
img{
    width: 70%;
    height: 80%;
    vertical-align: auto;
}
#myCarousel{
    display: flex;
    height: 600px;
    vertical-align: auto;
    background:black;
    margin: 5;
    margin-left: 75;
    padding: 0%;
    width: 350px;
}

.carousel-caption{
    margin-block: 10%;
}

#text{
    padding-top:30px;
    padding-bottom: -20px;
    
}
.carousel-inner{
    display:flex; 

    .img1{ flex: calc(333/426 ) ; }
    .img2{ flex: calc(333/500) ‬; }
    .img3{ flex: calc(333/431 ) ; }
    .img4{ flex: calc(333/444 ); }
    .img5{ flex: calc(333/416 )‬; }
    .img6{flex: calc(333/499 ) ;}
    .img7{flex: ‬calc(333/429 );} 
}
.carousel-control-prev{
    position: absolute; 
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: black;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next{
    position: absolute;
    right: 0; 
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color:black;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}